* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 16px;
    display: flex;
    justify-content: center;

}

.container { 
    max-width: 600px;
    background-color: rgb(255, 234, 115);
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    width: 80%;
}

header h1 {
    color: rgb(37, 36, 36);
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: bold;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

form button {
    margin-left: 15px;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(2, 1, 0);
    color: white;
}

ul {   
    list-style: none;
    background-color: rgb(255, 253, 151); 
    padding: 16px;
    width: 80%;
    margin-top: 15px;
}

ul {    
    font-size: 20px;
}

.line-through {
    text-decoration: line-through;
}

